<html>
<head>
	<title>Very Mediocre Bloging App</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
</head>
<body>
	<div id='banner'><h1>Subnormally Mediocre Blogging Platform - A platform whose name conveys the quality of its build</h1></div>

		<a href="/allusers">Sign up or Log In</a>

		<h2>See our bloggers' work:</h2><br>
		
		<ul>
			<% for (var i = 0; i < users.length; i++) { %>	
					<a href="/allusers/<%=users[i]._id%>"><li> <%=users[i].name%></li></a>
		
			<%	} %>
		</ul>
	<audio>
		<source src='/mrgnome/mrgnome.mp3' type='audio/mpeg'>
	</audio>
	<script type="text/javascript" src='/js/script.js'></script>	
</body>
</html>