<html>
<head>
	<title>Very Mediocre Bloging App</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<h1>Very Mediocre Blogging Platform - A platform whose name conveys the quality of its build</h1>
</body>
</html>