<html>
<head>
	<title>User Page/Private Show Page</title>
</head>
<body>
	<h1> <%= user.name %> ... private show page</h1>
Need a list of the user's blogs with links to the edit/update page and a delete button ...

			<% for (var i = 0; i < users.blog.length; i++) { %>	
					<a href="/users/<%=users[i]._id%>/edit/<%=users.blog[i]._id%>"><li>Go to Show Page ... SEE/EDIT: <%=users.blog[i].name%></li></a>
				<form action='' method='DELETE'>
					<button>Delete</button>
				</form>
			<%	} %>

		
	Need a logout function >>>>>>> <button>Logout</button>
	<br>
	<button><a href="/users/new">CREATE A NEW POST</a></button>		
	<br>
	<a href="/allusers">Link back go all users</a>
</body>
</html>