<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
</head>
<body>
	<nav>
		<div class='navdiv'><a href="/allusers">Go back to the signup/login page</a></div>
		<div class='navdiv'><a href="/allusers/<%=blogpost.blogger%>">Go back to the author's page</a></div>
	</nav>
	
		<h1><%=blogpost.title%></h1>
		<h2><%=blogpost.hed%></h2>
		<div id="public-post"><%=blogpost.dek%></div>


	<script type="text/javascript" src='/js/script.js'></script>	
</body>
</html>