<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
</head>
<body>
<h1><%=blogpost.title%></h1>
	<h2><%=blogpost.hed%></h2>

	<div id="public-post"><%=blogpost.dek%></div>

	<a href="/allusers/<%=blogpost.blogger%>">Back to author's page</a>
	<script type="text/javascript" src='/js/script.js'></script>	
</body>
</html>