<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
</head>
<body>
	<h1>Greetings ~ Salutations ~ Welcome </h1>

		<h2>Sign up</h2>
		<form action='/allusers' method='POST'>	
			<input type='text' name='name' placeholder='name'><br>
			<input type='text' name='email' placeholder='email'><br>
			<input type='text' name='password' placeholder='password'><br>
			<button>Sign up!</button>
		</form>

		<h2>Already a member? Log in here!</h2>
		<form action='/allusers/login' method='POST'>	
			<input type='text' name='email' placeholder='email'><br>
			<input type='text' name='password' placeholder='password'><br>
			<button>Log in!</button>
		</form>


<a href="/">Go to home page</a><br>
	 <h3>Check out these bloggers' blogs!</h3>
		<ul>
			<% for (var i = 0; i < users.length; i++) { %>	
					<a href="/allusers/<%=users[i]._id%>"><li> <%=users[i].name%></li></a> 
			<% } %>
		</ul>
		<script type="text/javascript" src='/js/script.js'></script>	
</body>
</html>